Package: com.Thompson818.Onspire
Name: Onspire
Depends:
Version: 0.0.3-Alpha
Architecture: iphoneos-arm
Description: My first Theme i have made.
Maintainer: Thomas <email@address.com>
Author: Thomas <email@address.com>
Section: Themes (Springboard)